.App {
  text-align: center;
  background-color: #61dafb;
  padding: 30px;
  width: fit-content;
  margin: 30px auto;
  border-radius: 10px;
}
.time{
  margin-bottom: 10px;
  font-size: 25px;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: fit-content;
  align-items:center ;
  justify-content: center;
  margin: 5px auto;
}

button{
  margin-left: 10px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

button:hover{
  /* border-color: green; */
  color: #fff;
  background-color: green;
  
}
/* .buttons{
  height: 40px;
  width: 1000px;
  background-color: #61dafb;
} */